@import-normalize;

/* preflight */
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
.font-comfortaa {
  font-family: "Comfortaa", cursive;
}
