/* preflight */
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
.font-comfortaa {
  font-family: "Comfortaa", cursive;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
